.contact{
    margin-top: 100px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
}


.btn{
    color: #16ABEC !important;
}

@media screen and (max-width: 768px) {
    .form{
        width: 300px;
    }
}