

.partner-item{
    margin-left: 0rem;
    margin-right: 0rem;
    box-shadow: 0 0 10px 4px rgba(172, 172, 172, 0.1);
    transition: transform .3s ease;
    border-radius: 10px;
    cursor: pointer;
}




.item:hover{
    transform: scale(1.1);
}